<div class="jumbotron createprojectTitle">
    <div layout="column" layout-align="center start" layout-padding>
            <h1 class="medium">Start a project</h1>
            <p>Share your idea with people around the world. Gain support and make your dream come true</p>
    </div>
</div>


<div layout="column" layout-align="center center" layout-padding>
    <div>
        <h3>Create a project</h3>
        <md-divider></md-divider><br>
    </div>
</div>

  <div layout="column" layout-padding>
        <form ng-submit="postProject()" name="createProject">
          <h4 class="md-subhead">Project Title: </h4>
            <md-input-container class="md-block">
              <label>(Tell us the name of your project)</label>
              <input type="text" ng-model="project.name" name="projectName" required md-maxlength="50">
                <div ng-messages="createProject.projectName.$error">
                  <div ng-message="required">This is required</div>
              </div>
            </md-input-container>

          
        <div layout="row" layout-xs="column">

          <div flex>
            <h4 class="md-subhead">Project Summary: </h4>
              <md-input-container class="md-block">
                <label>(What is this project in brief?)</label>
                <input type="text" ng-model="project.summary" name="projectSummary" required md-maxlength="200">
                  <div ng-messages="createProject.projectSummary.$error">
                    <div ng-message="required">This is required</div>
                </div>
              </md-input-container>
            </div>

          <div flex>
            <h4 class="md-subhead">Picture: </h4>
              <md-input-container class="md-block">
                <label>(Give your project an eye-catching picture)</label>
                <input type="text" ng-model="project.picture" name="projectPicture" required>
                  <div ng-messages="createProject.projectPicture.$error">
                    <div ng-message="required">This is required</div>
                </div>
              </md-input-container>
          </div>

          <div flex>
            <h4 class="md-subhead">Category: </h4>
              <md-input-container>
                <label>(What type of project is this?)</label>
                <md-select ng-model="project.category">
                  <md-option ng-value="opt" ng-repeat="opt in category">{{ opt }}</md-option>
                </md-select>
              </md-input-container>
          </div>
        </div>

          <h4 class="md-subhead">Description: </h4>
            <md-input-container class="md-block">
              <label>(Tell us more about the project)</label>
              <textarea ng-model="project.description" name="projectDes" md-maxlength="2000" rows="5" md-select-on-focus required></textarea>
                <div ng-messages="createProject.projectDes.$error">
                  <div ng-message="required">This is required</div>
              </div>
            </md-input-container>

            <div layout="row" layout-xs="column">

              <div flex>
                <h4 class="md-subhead">Deadline: </h4>
                <md-input-container flex>
                  <label>(Recommend 3 months)</label>
                  <md-datepicker ng-model="project.endDate" name="projectEndDate"></md-datepicker>
                  <div ng-messages="createProject.projectEndDate.$error">
                      <div ng-message="required">This is required</div>
                  </div>
                </md-input-container>
              </div>

              <div flex>
                <h4 class="md-subhead">Funding Goal: </h4>
                <md-input-container class="md-block" flex>
                  <label>(How much you need for the project?)</label>
                  <input type="number" ng-model="project.goalFund" name="projectGoal" required>
                  <div ng-messages="createProject.projectGoal.$error">
                      <div ng-message="required">This is required</div>
                  </div>
                </md-input-container>
              </div>

              <div flex>
                <h4 class="md-subhead">Location: </h4>
                <md-input-container class="md-block" flex>
                  <label>(Where are you launching?)</label>
                  <input type="text" ng-model="project.location" name="projectLocation" required>
                  <div ng-messages="createProject.projectLocation.$error">
                      <div ng-message="required">This is required</div>
                  </div>
                </md-input-container>
              </div>
    </div>

  <div layout="row" layout-padding layout-wrap>
      <div ng-repeat="n in rewardslist">
        <md-card style="width: 350px;">
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Reward</span>
             <div class="hint">Give some reward to your supporter</div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container class="md-block">
              <label>Name</label>
              <input type="text" ng-model="n.name">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input type="text" ng-model="n.description">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Minimum fund</label>
              <input type="number" ng-model="n.fund">
            </md-input-container>
              <md-checkbox ng-model="n.shipment" class="md-primary">
                Shipment required
              </md-checkbox>
              <div class="hint" ng-show="n.shipment">*Extra cost may be charged for shipment</div>
          </md-card-content>
        </md-card>
      </div>

    <md-button class="md-fab md-primary" ng-click="addReward()">
      <md-icon class="material-icons">add</md-icon>
    </md-button>

    </div>



    <md-button class="md-raised md-primary" type="submit" ng-disable="createProject.$invalid">Create Project!</md-button>
<!--
            <div ng-repeat="n in rewardslist">
              <div layout="column" layout-padding>
              <h4>Reward</h4>
              <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" ng-model="n.name">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Description</label>
                <input type="text" ng-model="n.description">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Minimum fund</label>
                <input type="number" ng-model="n.fund">
              </md-input-container>
                <md-checkbox ng-model="n.shipment" class="md-primary">
                  Shipment required
                </md-checkbox>
              </div>
            </div>
            <md-button class="md-fab md-primary" ng-click="addReward()">
            <md-icon class="material-icons">add</md-icon>
            </md-button>

            <md-button class="md-raised md-primary" type="submit">Create Project!</md-button>
-->
          </form>




