<!--jumbotron-->
          <div class="jumbotron homeTitle">
            <div class="container">
            <h1 class="large white"><i class="fa fa-paper-plane" aria-hidden="true"></i> Dream House</h1>
            <h2 class="white">Use your immagination, make your dream come true</h2><br><br>
            <div layout="column" layout-padding layout-align="start start">


                <md-button>
                  <h3 class="white">                        
                      <i class="fa fa-briefcase" aria-hidden="true"></i> About Us
                  </h3>
                </md-button>
                <p class="grey">We are a crowd funding website that help dreamers achieve their goal.</p>

              <md-button>
                <h3 class="white">                        
                    <i class="fa fa-search" aria-hidden="true"></i> Explore project
                </h3>
              </md-button>
                <p class="grey">You can support other project by funding them, check more of the project</p>
              

              <md-button>
                <h3 class="white">                        
                    <i class="fa fa-wrench" aria-hidden="true"></i> Start Your Work
                </h3>
              </md-button>
                <p class="grey">Start creating your project and achieve your dream. Learn how to start a project</p>
              
            </div>

            <!--
            <div layout="column" layout-gt-xs="row">
                <div layout-padding layout-margin>
                    <md-button class="md-fab" aria-label="Eat cake">
                        <i class="material-icons">business_center</i>
                    </md-button>
                    <h3>                        
                        <i class="fa fa-globe" aria-hidden="true" class="md-accent md-hue-3"></i> About Us
                    </h3>
                    <p>We are a crowd funding website that help dreamers achieve their goal.</p>
                </div>
                <div flex layout-padding layout-margin>
                    <h3>                        
                        <i class="fa fa-compass" aria-hidden="true"></i> Explore Project
                    </h3>
                    <p>You can support other project by funding them, check more of the project</p>
                </div>
                <div flex layout-padding layout-margin>
                    <h3>                        
                        <i class="fa fa-wrench" aria-hidden="true"></i> Start Your Work
                    </h3>
                    <p>Start creating your project and achieve your dream. Learn how to start a project</p>
                </div>
            </div>-->
            </div>
          </div>

<!--project
            <div layout = "row">
                <div flex layout-padding>
                    <h2>Interesting Project</h2>
                </div>
            </div>
            <div layout="row">
                <div flex>
                    <md-card>
                     <md-card-content>
                       <h2>Project1 Name</h2>
                       <p>Content</p>
                     </md-card-content>
                     <md-card-footer>
                       Extra info
                     </md-card-footer>
                    </md-card>
                </div>
                <div flex>
                    <md-card>
                     <md-card-content>
                       <h2>Project2 Name</h2>
                       <p>Content</p>
                     </md-card-content>
                     <md-card-footer>
                       Extra info
                     </md-card-footer>
                    </md-card>
                </div>
                <div flex>
                    <md-card>
                     <md-card-content>
                       <h2>Project3 Name</h2>
                       <p>Content</p>
                     </md-card-content>
                     <md-card-footer>
                       Extra info
                     </md-card-footer>
                    </md-card>
                </div>
            </div>