<div class="loginBg">

    <div layout="row" layout-align="center center" layout-margin layout-padding>
        <md-whiteframe class="md-whiteframe-3dp">

          <form>
            <h3><i class="fa fa-user" aria-hidden="true"></i> Login</h3>
            <md-divider ></md-divider><br>


            <md-input-container class="md-icon-float md-block">
              <label>User Name</label>
              <md-icon> account_circle </md-icon>
              <input type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Password</label>
              <md-icon> lock_outline </md-icon>
              <input type="password">
            </md-input-container>

            <md-button class="md-raised md-primary">Submit</md-button>
            <md-button class="md-raised ">Reset</md-button>

          </form>
        </md-whiteframe>
    </div>

</div>