<div layout="column" layout-align="center center" layout-padding>
    <div>
        <h1>Manage User</h1>
    </div>
    <div>
        <h3>Modify or delete user(s)</h3>
    </div>
</div>

<div layout="column" layout-padding>
    <ul style="list-style: none;">
    <md-subheader class="md-no-sticky">User</md-subheader>
        <li ng-repeat="n in allUser">
            <div layout="row" layout-padding>

                    <md-input-container>
                      <input type="text" ng-model="n.username" required>
                    </md-input-container>

                    <span> Admin?</span>

                    <md-checkbox ng-model="n.admin" class="md-primary">
                    </md-checkbox>

                <md-button class="md-primary" ng-click="updateUser(n,n._id)">
                    Save
                </md-button>
                <md-button class="md-warn" ng-click="deleteUser(n._id)">
                    Delete
                </md-button>
            </div>
        </li>
    </ul>
</div>