<div layout="column" layout-padding>
    <div>
        <h1>{{project.name}}</h1>
        <div class="hint">By {{project.owner_username}}</div>
        <h4>Summary: {{project.summary}}</h4>
    </div>

    <div>
        <h4>Project Description: </h4>
        <md-divider></md-divider>
    </div>
    <div>
        <p>{{project.description}}</p>
    </div>
    <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Category: {{project.category}}</p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{project.location}}</p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Deadline: {{convertDate(project.endDate)}} (yyyy-mm-dd)</p>
    <p><i class="fa fa-flag" aria-hidden="true"></i> Current fund: ${{project.currentFund}}</p>
    <p><i class="fa fa-flag-checkered" aria-hidden="true"></i> Goal: ${{project.goalFund}}</p>

  <div layout="row" layout-padding layout-wrap>
      <div ng-repeat="n in project.reward">
        <md-card style="width: 350px;">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                  <h4>Reward at > ${{n.fund}} support</h4>
                </div>
            </md-toolbar>
        <md-card-title>
           <md-card-title-text>
             <span class="md-headline">{{n.name}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <span><i class="fa fa-gift" aria-hidden="true"></i> {{n.description}}</span><br>
            <md-button class="md-raised md-primary" ng-click="choose(n.fund,n.name)" ng-disabled="selected">Choose</md-button>
          </md-card-content>
        </md-card>
      </div>
</div>
    
   <div ng-controller="paypalController"> 
    <form name="supportForm" ng-submit="backProject()">
        <div layout="column" layout-padding ng-show="showDonate">
            <h4>You have choosed the ${{minSupport}} support!</h4>
            <div layout="row">
                <md-input-container class="md-block">
                  <label>Amount of support</label>
                  <input type="number" ng-model="support" min="{{minSupport}}" name="amount" required>
                    <div ng-messages="supportForm.amount.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="min">Minimum should be {{minSupport}}</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit" ng-disabled="supportForm.$invalid">Confirm</md-button>
                <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>    
                <md-button class="md-raised md-warn" ng-click="preapproval()">Preapproval</md-button>
                <md-button class="md-raised md-warn" ng-click="payment()">Payment</md-button>           
              </div>
        </div>
    </form>
  </div>