
<div class="jumbotron projectTitle">
    <div layout="column" layout-align="center start" layout-padding>
            <h1 class="medium">Explore Project</h1>
            <p>Discover and explore all the interesting projects by our dreamers (like you)</p>
    </div>
</div>


<div layout="row" layout-wrap layout-align="space-around start">
  <div ng-repeat="n in allProjects" ng-show="n.approve">
      <div flex="33">
        <md-card style="width: 350px;">           
        <md-toolbar>
            <div class="md-toolbar-tools">
              <h4>{{n.category}}</h4>
            </div>
          </md-toolbar>
          <a ui-sref="projectDetail({id: n._id})">
            <img ng-src="{{n.picture}}" class="md-card-image" height="200" width="350">
          </a>
         <md-card-title>

           <md-card-title-text>
             <span class="md-headline">{{n.name}}</span>
             <div class="hint">By {{n.owner_username}}</div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
           <p>{{n.summary}}</p>
           <md-divider></md-divider>
         </md-card-content>
           <md-card-footer>
             <p class="hint"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{n.location}}</p> 
             <p class="hint"><i class="fa fa-clock-o" aria-hidden="true"></i> Deadline: {{convertDate(n.endDate)}} (yyyy-mm-dd)</p>
              <md-progress-linear md-mode="determinate" value="{{(n.currentFund/n.goalFund)*100}}"></md-progress-linear>
              <p class="hint"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Progress: ${{n.currentFund}} out of ${{n.goalFund}}</p>
           </md-card-footer>
        </md-card>
    </div>
  </div>
</dv>

<!--



-->