<div layout="column" layout-align="start start" layout-padding>
    <div>
        <h3>Payment cancelled</h3>
        <md-divider></md-divider><br>
    </div>

    <h4>You have cancelled the payment to the project. Continue to:</h4>

    <md-button ui-sref="project" class="md-primary">
        <h3>                        
            <i class="fa fa-search" aria-hidden="true"></i> Explore project
        </h3>
    </md-button>

      <md-button ui-sref="createProject" class="md-accent">
        <h3>                        
            <i class="fa fa-wrench" aria-hidden="true"></i> Start Your Work
        </h3>
      </md-button>

</div>